.list-view {
	-fx-border-width: 0;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-background-color: fx-primary;
}

.list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: fx-light;
}

.list-view * .list-cell:focused {
	-fx-background-color: fx-primary-dim;
}