/* First variables */
@import "variables.css";

/* Then other styles */
@import "button.css";
@import "checkbox.css";
@import "combobox.css";
@import "contextmenu.css";
@import "forms.css";
@import "list.css";
@import "menu-bar.css";
@import "radio.css";
@import "scrollbar.css";
@import "table.css";
@import "tabs.css";
@import "treeview.css";


.scroll-pane {
    -fx-background-color: fx-primary-dim;
}

.split-pane {
	-fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: fx-primary-dim;
}

.split-pane-divider {
    -fx-pref-width: 1px;
    -fx-background-color: fx-light-dimer;
}


.send-button {
    -fx-background-color: fx-accent;
    -fx-text-fill:fx-dark;
    -fx-cursor: hand;
}

.send-button:hover {
    -fx-background-color: derive(fx-accent, -20%);
}

.send-button:focus, .send-button:active, .send-button:pressed {
    -fx-background-color: derive(fx-accent, -30%);
}

.label {
    -fx-text-fill: fx-light;
}

/* utility classes */

.white-fill { -fx-fill: fx-light; }
.cursor-pointer { -fx-cursor: hand }
.bg-primary-dim { -fx-background-color: fx-primary-dim }


/*for testing*/
.red {
-fx-background-color: red;
}